.status-table
{
	width: 100%;
}

.status-table thead {
	border-top: 1px solid #c2c9cb;
	border-bottom: 1px solid #c2c9cb;
}

.status-table tbody tr {
	border-bottom: 1px solid #dce2e3;
}

.status-table th, .status-table td {
	font-size: 12px;
	padding: 15px;
	text-align: center;
}

.status-table .progress-message
{
	font-size: 15px;
}

.function-container
{
	display: table;
	width: 100%;
	height: 30px;
}

.function-container .right
{
	float: right;
}

.next-timer
{
	font-size: 12px;
}

#status .small-progress
{
	display: inline-block;
	animation-name: none;
	margin-left: 10px;
	cursor: pointer;
}