body
{
	min-width: 1200px;
}

.navbar
{
	margin-bottom: 0;
}

.navbar-black
{
	background: #444;
    background: -moz-linear-gradient(top,#444 0,#222 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#444),color-stop(100%,#222));
    background: -webkit-linear-gradient(top,#444 0,#222 100%);
    background: -o-linear-gradient(top,#444 0,#222 100%);
    background: -ms-linear-gradient(top,#444 0,#222 100%);
    background: linear-gradient(to bottom,#444 0,#222 100%);
}

.navbar-black .navbar-brand>img
{
	width: 130px !important;
	position: relative !important;
	top: -3px !important;
	left: 13px !important;
}

.navbar-black .navbar-default .navbar-nav>li>a
{
	color: #A9A9A9 !important;
}

.navbar-black .navbar-default .navbar-nav>li>a:HOVER
{
	color: white;
}

.navbar-default
{
	background-color: white;
	border-color: #aaa;
	border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.navbar-header
{
	position: relative;
	top: 2px;
	margin-right: 160px !important;
	float: left;
}

.navbar-nav>li>a
{
	padding: 25px;
}

.navbar-brand>img
{
	display: inline-block;
	position: relative;
    top: 5px;
    left: 75px;
}

.navbar-right .glyphicon
{
	top: 2px;
	right: 3px;
}

.navbar-nav {
    float: left;
    margin: 0;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
}

.navbar-right {
    float: right!important;
}

.navbar-nav>li {
    float: left;
}

.navbar-collapse.collapse {
	display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
        width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

.background-progress
{
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 70px;
	bottom: 0;
	background-color: white;
	text-align: center;
	
	z-index: 1000;
}

.background-progress .vertical-bar
{
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}

.background-progress .progress-content
{
	display: inline-block;
}

.background-progress .progress-message
{
	margin: 20px 0;
}

.background-progress span
{
	font-size: 100px;
	animation-name: progress;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes progress {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.confirm-button
{
	display: inline-block;
	margin: 0 5px;
}

.confirm-button .confirm
{
	display: none;
	cursor: pointer;
	color: red;
}

.confirm-button .confirm:HOVER
{
	text-decoration: underline;
}

input[disabled], select[disabled]
{
	background-color: #F9F9F9 !important;
}

.small-progress
{
	margin: 0 10px;
	
	display: none;
	
	animation-name: progress;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.footer
{
	position: absolute;
	
	z-index: 1000;
	
	color: white;
	
	bottom:0;
	left:0;
	right:0;
	height: 40px;
	
	font-size:0;
	
	padding: 10px;
	
	background: #444;
    background: -moz-linear-gradient(top,#444 0,#222 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#444),color-stop(100%,#222));
    background: -webkit-linear-gradient(top,#444 0,#222 100%);
    background: -o-linear-gradient(top,#444 0,#222 100%);
    background: -ms-linear-gradient(top,#444 0,#222 100%);
    background: linear-gradient(to bottom,#444 0,#222 100%);
}

.footer > span
{
	font-size: 12px;
	vertical-align: middle;
}

.footer > .divider
{
	display: inline-block;
	
	height: 20px;
	width: 0;
	
	margin: 0 10px;
	
	border-left: 1px solid #222;
	border-right: 1px solid #444;
}

.footer a
{
	color: white;
}

.container-body
{
	position: absolute;
	top: 71px;
	bottom: 40px;
	left: 0;
	right: 0;
	overflow: auto;
}