body
{
	min-width: 0 !important;
}

.title
{
	padding: 50px;
	padding-bottom: 10px;
}

.title + p
{
	font-size: 18px;
	color: #676767;
	margin-bottom: 20px;
}

#signinForm .input-group, #signinForm .submit-group
{
	padding: 10px 0;
	margin: 0 auto;
}

#signinForm .input-group input
{
	width: 350px;
	padding: 20px;
	border-radius: 5px;
}

#signinForm .submit-group
{
	margin-top: 20px;
}

#signinForm .submit-group input
{
	margin: 0 10px;
}

.result-desc
{
	font-size: 13px !important;
	color: #EA4547;
	margin: 20px 0;
}