.nav-wrapper {
	padding: 0 10px;
	height: 65px;
	
	background: linear-gradient(to bottom,  #ffffff 0%,#ebecec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.nav-wrapper a, .nav-wrapper a img {
	vertical-align: middle;
}

.nav-wrapper .left a {
	font-size: 18px;
	font-weight: 500;
}

.nav-wrapper .right a {
	font-size: 12px;
}

.body-container {
	padding: 20px;
}