.footer
{
	position: static;
}

.service-row
{
	display: table;
	border-top: 1px dashed #e0e0e0;
	padding: 15px 0;
	width: 100%;
}

.service-row:FIRST-CHILD
{
	border-top:0;
}

.image-container
{
	display: inline-block;
	width: 15%;
	vertical-align: middle;
	text-align: center;
}

.service-container
{
	display: inline-block;
	width: 84%;
	vertical-align: middle;
}

.service-description
{
	color: #777;
	padding: 30px 0;
}

.view-plans
{
	cursor: pointer;
}

.view-plans:HOVER
{
	text-decoration: underline;	
}

.plans-container
{
	width: 100%;
	position: relative;
	display: none;
	min-height: 250px;
}

.plans-table
{
	width: 100%;
	border-top: 1px solid #c2c9cb;
	margin: 20px 0;
}

.plans-table tbody tr {
	border-top: 1px solid #dce2e3;
}

.plans-table th, .plans-table td {
	font-size: 14px;
	padding: 15px;
	text-align: center;
}

.plan-name
{
	font-size: 15px;
}

.plan-name + br + span
{
	font-weight: normal;
}

.bullets ul
{
	margin-bottom: 20px;
	text-align: left !important;
	display: inline-block;
}

.bullets ul li
{
	margin: 5px 0;
}

p.message
{
	margin: 15px 0;
}

.plan-name
{
	font-size: 15px;
}

.plan-name + span
{
	font-weight: normal;
	font-size: 12px;
}

.select
{
	background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: 45px;
}

.modal-form .form-row
{
	margin: 10px 0;
}

.modal-form select
{
	width: 80%;
}

.modal-form .message
{
	color: red;
	font-size: 12px;
}

.parameters
{
	margin: 5px 0;
}

.parameters input
{
	margin: 0 10px;
}

.parameters .glyphicon
{
	top: 5px;
	cursor: pointer;
	color: #666;
	vertical-align: middle;
}

.parameters .glyphicon:HOVER
{
	color: black;	
}