.padding-0 {
	padding: 0 !important;
}
.padding-40 {
	padding: 40px !important;
}
.padding-top-0 {
	padding-top: 0 !important;
}
.padding-top-20 {
	padding-top: 20px !important;
}
.padding-top-40 {
	padding-top: 40px !important;
}
.padding-top-60 {
	padding-top: 60px !important;
}
.padding-top-80 {
	padding-top: 80px !important;
}
.padding-top-100 {
	padding-top: 100px !important;
}
.padding-top-150 {
	padding-top: 150px !important;
}
.padding-top-200 {
	padding-top: 200px !important;
}
.padding-top-400 {
	padding-top: 400px !important;
}
.padding-bottom-0 {
	padding-bottom: 0 !important;
}
.padding-bottom-20 {
	padding-bottom: 20px !important;
}
.padding-bottom-40 {
	padding-bottom: 40px !important;
}
.padding-bottom-60 {
	padding-bottom: 60px !important;
}
.padding-bottom-80 {
	padding-bottom: 80px !important;
}
.padding-bottom-100 {
	padding-bottom: 100px !important;
}
.padding-bottom-150 {
	padding-bottom: 150px !important;
}
.padding-bottom-200 {
	padding-bottom: 200px !important;
}
.padding-bottom-400 {
	padding-bottom: 400px !important;
}
.padding-left-0 {
	padding-left: 0 !important;
}
.padding-left-20 {
	padding-left: 20px !important;
}
.padding-left-40 {
	padding-left: 40px !important;
}
.padding-left-60 {
	padding-left: 60px !important;
}
.padding-left-80 {
	padding-left: 80px !important;
}
.padding-left-100 {
	padding-left: 100px !important;
}
.padding-left-150 {
	padding-left: 150px !important;
}
.padding-left-200 {
	padding-left: 200px !important;
}
.padding-left-400 {
	padding-left: 400px !important;
}
.padding-right-0 {
	padding-right: 0 !important;
}
.padding-right-20 {
	padding-right: 20px !important;
}
.padding-right-40 {
	padding-right: 40px !important;
}
.padding-right-60 {
	padding-right: 60px !important;
}
.padding-right-80 {
	padding-right: 80px !important;
}
.padding-right-100 {
	padding-right: 100px !important;
}
.padding-right-150 {
	padding-right: 150px !important;
}
.padding-right-200 {
	padding-right: 200px !important;
}
.padding-right-400 {
	padding-right: 400px !important;
}

.margin-0 {
	margin: 0 !important;
}
.margin-top-0 {
	margin-top: 0 !important;
}
.margin-top-20 {
	margin-top: 20px !important;
}
.margin-top-40 {
	margin-top: 40px !important;
}
.margin-top-60 {
	margin-top: 60px !important;
}
.margin-top-80 {
	margin-top: 80px !important;
}
.margin-top-100 {
	margin-top: 100px !important;
}
.margin-top-150 {
	margin-top: 150px !important;
}
.margin-top-200 {
	margin-top: 200px !important;
}
.margin-top-400 {
	margin-top: 400px !important;
}
.margin-bottom-0 {
	margin-bottom: 0 !important;
}
.margin-bottom-20 {
	margin-bottom: 20px !important;
}
.margin-bottom-40 {
	margin-bottom: 40px !important;
}
.margin-bottom-60 {
	margin-bottom: 60px !important;
}
.margin-bottom-80 {
	margin-bottom: 80px !important;
}
.margin-bottom-100 {
	margin-bottom: 100px !important;
}
.margin-bottom-150 {
	margin-bottom: 150px !important;
}
.margin-bottom-200 {
	margin-bottom: 200px !important;
}
.margin-bottom-400 {
	margin-bottom: 400px !important;
}
.margin-left-0 {
	margin-left: 0 !important;
}
.margin-left-20 {
	margin-left: 20px !important;
}
.margin-left-40 {
	margin-left: 40px !important;
}
.margin-left-60 {
	margin-left: 60px !important;
}
.margin-left-80 {
	margin-left: 80px !important;
}
.margin-left-100 {
	margin-left: 100px !important;
}
.margin-left-150 {
	margin-left: 150px !important;
}
.margin-left-200 {
	margin-left: 200px !important;
}
.margin-left-400 {
	margin-left: 400px !important;
}
.margin-right-0 {
	margin-right: 0 !important;
}
.margin-right-20 {
	margin-right: 20px !important;
}
.margin-right-40 {
	margin-right: 40px !important;
}
.margin-right-60 {
	margin-right: 60px !important;
}
.margin-right-80 {
	margin-right: 80px !important;
}
.margin-right-100 {
	margin-right: 100px !important;
}
.margin-right-150 {
	margin-right: 150px !important;
}
.margin-right-200 {
	margin-right: 200px !important;
}
.margin-right-400 {
	margin-right: 400px !important;
}