.org-body
{
}

.org-list
{
	position: absolute;
	left: 0;
	top: 70px;
	bottom: 0;
	width: 15%;
	
	overflow: auto;
	padding: 20px 10px;
	
	border-right: 1px solid #e7e7e7;
}

.org-container
{
	position: absolute;
	right: 0;
	top: 70px;
	bottom: 0;
	left: 15%;
	
	width: 85%;
	overflow: auto;
	
	padding: 20px;
}

.fotter
{
	padding: 10px;
	background: linear-gradient(to bottom,#444 0,#222 100%);
	color: white;
	font-size: 14px;
	text-align: center;
}

.list-group, .list-group-item
{
	border:0;
}

.list-group-item
{
	padding: 10px 20px;
}

.list-group-item ul
{
	padding: 0;
	margin: 5px 0;
	list-style: none;
}

.list-group-item li
{
	padding: 5px 10px;
	margin: 0;
	list-style: none;
}

.org-name
{
	font-size: 16px;
	color: #999;
}

.space-name
{
	color: #444;
}

.space-name:HOVER
{
	font-size: 14px;
	color: #f91;
	text-decoration: none;
}

.org-details, .space-details, .app-functions
{
	position: relative;
}

.org-details h1, .space-details h3
{
	margin: 10px 0;
}

.org-details .progress
{
	margin: 10px 0;
}

.org-menus, .space-menus
{
	position: absolute;
	bottom: 30px;
	right: 5px;
}

.space-menus
{
	bottom: 0px;
}

.org-menus a
{
	margin: 0 10px;
}

.app-functions
{
	margin: 10px 0;
}

.app-functions .dropdown
{
	display: inline-block;
}

.app-filtering
{
	position: relative;
	
	padding: 5px;
	
	border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
	background: #E7E7E7;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e0e0e0));
    background: -webkit-linear-gradient(top, #eee 0%, #e0e0e0);
    background: -moz-linear-gradient(top, #eee 0%, #e0e0e0);
    background: -ms-linear-gradient(top, #eee 0%, #e0e0e0);
    background: -o-linear-gradient(top, #eee 0%, #e0e0e0);
    background: linear-gradient(top, #eee 0%, #e0e0e0);
}

.app-filtering > div:last-child
{
	width: 59.5%;
	text-align: right;
}

.apps-status
{
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	
	text-align: center;
}

.apps-status .glyphicon
{
	margin-left: 10px;
}

.apps-status .glyphicon + span
{
	margin-left: 5px;
	margin-right: 10px;
	
	color: #565656;
}

.apps-status span
{
	font-size: 17px;
	font-weight: 600;
}

.app-filtering > div
{
	display: inline-block;
	width: 40%;
	vertical-align: middle;
}

.app-filtering input
{
	border-radius: 5px;
}

.apps-table
{
	width: 100%;
}

.apps-table th
{
	text-align: center;
	
	padding: 15px 10px;
	
	border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    
	background: -webkit-linear-gradient(top, #eee 0%, #e0e0e0);
    background: -moz-linear-gradient(top, #eee 0%, #e0e0e0);
    background: -ms-linear-gradient(top, #eee 0%, #e0e0e0);
    background: -o-linear-gradient(top, #eee 0%, #e0e0e0);
    background: linear-gradient(top, #eee 0%, #e0e0e0);
    background: #e7e7e7;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e0e0e0));
}

.app-details
{
	margin-top: 50px;
}

.apps-table td
{
	text-align: center;
	padding: 10px 5px;
	border-bottom: 1px solid #e0e0e0;
}

.apps-table tbody tr:HOVER, .apps-table tbody tr.selected
{
	background-color: #eaf3fe;
}

.apps-table td p
{
	margin: 0;
}

.apps-table td .input-group
{
	display: inline-block;
}

.app-name, .app-name
{
	font-size: 17px;
}

.app-name, .app-name + td
{
	text-align: left;
}

.app-scale-buttons > *
{
	display: none;
}

#appsBody
{
	position: relative;
}

.tab-pane
{
	padding: 20px 0;
	position: relative;
}

.tab-pane p.label
{
	margin: 10px 0 5px 0;
    color: #686868;
    font-weight: bold;
}

.tab-pane pre
{
	white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    border: 1px solid #dce2e3;
    border-radius: 3px;
    background-color: #eee;
    padding: 10px;
}