.org-list {
	border-radius: 2px;
	width: 215px;
	padding: 0 !important;
}

.collection {
	border: 0;
}

.collection h4 {
	cursor: pointer;
}

.collection.with-header .collection-header {
	font-size: 18px;
	background-color: #0190e2;
	border-bottom: 0;
}

.collection.with-header .collection-header a {
	color: #fff;
}

.collection.with-header .collection-item {
	background-color: #fff;
	border-bottom: 0;
	font-size: 14px;
	padding: 15px 20px;
}

.collection.with-header .collection-item a {
	color: #000;
}

.collection.with-header .collection-item:HOVER, .collection.with-header .collection-item.selected {
	background-color: #D2ECFF;
	cursor: pointer;
}

.collection.with-header .collection-item.selected a {
	font-weight: bold;
}

.collection.with-header .collection-item.create-space {
	border-top: 1px solid #c2c9cb;
	padding: 0;
	margin: 0 20px;
	padding: 20px 0;
}

.collection.with-header .collection-item.create-space > div {
	text-align: center;
}

.collection.with-header .collection-item.create-space > div .btn {
	background-color: #0190e2;
	color: white;
}

.collection.with-header .collection-item.create-space:HOVER {
	background-color: #fff;
}

.collection.with-header .collection-item.create-space a {
	font-weight: bold;
	font-size: 14px;
	color: #000;
}

.collection.with-header .collection-item.create-space a img {
	vertical-align: middle;
	margin-right: 10px;
}

.collection-item {
	display: none;
}

.selected .collection-item {
	display: block;
}

.create-organization {
	margin-top: 20px;
}

#createOrg {
	display: inline-block;
	height: 50px;
	border-radius: 2px;
	background-color: #0190e2;
	padding: 8px 20px;
	font-size: 14px;
	color: #fff;
}

#createOrg img {
	position: relative;
	top:-2px;
	vertical-align: middle;
	margin-right: 5px;
}

.create-organization #createOrg + div {
	width: 244px;
	margin: 0 auto;
	
	background-color: #0190e2;
	border-radius: 2px;
	
	padding: 20px;
}

.create-organization #createOrg + div > a {
	background-color: #2c3031;
	font-size: 14px;
	color: #fff;
}

.organization {
	border-radius: 2px;
}

.organization-title {
	position: relative;
	background-color: #0190e2;
	padding: 10px 20px;
}

.organization-title h3, .space-title h4, .app h5 {
	display: inline-block;
}

#orgName {
	font-size: 32px;
	color: #fff;
	font-weight: bold;
}

.organization-functions {
	position: absolute;
	right: 20px;
	bottom: 30px;
}

.organization-functions a {
	font-size: 14px;
}

.organization-title .progress {
	margin-bottom: 0;
}



.space, .domains {
	position: relative;
	background-color: #f3f3f3;
	padding: 20px;
}

.space-title {
	position: relative;
	z-index: 1;
}

.space-title h4 {
	position: relative;
	z-index: 1;
}

#spaceName {
	font-size: 25px;
	color: #000;
	font-weight: 500;
}

.space-status {
	position: absolute;
	
	left: 0;
	right: 0;
	top: 0;
	
	z-index: 0;
	
	text-align: center;
}

.space-status .status {
	margin: 0 10px;
}

.space-status .status img {
	vertical-align: middle;
	margin-right: 5px;
}

.space-status .status {
	font-size: 20px;
	font-weight: bold;
}

.space-status .status.run {
	color: #00a48a;
}

.space-status .status.stop {
	color: #6c6c6c;
}

.space-status .status.down {
	color: #ec2c2c;
}

.space-functions {
	position: absolute;
	right: 0;
	bottom: 0;
}

.cancel-space-button {
	margin: 0 10px;
	cursor: pointer;
}