.org-body
{
}

.org-list
{
	position: absolute;
	left: 0;
	top: 71px;
	bottom: 0;
	width: 15%;
	
	overflow: auto;
	padding: 20px 10px;
	
	border-right: 1px solid #aaa;
}

.org-container
{
	position: absolute;
	right: 0;
	top: 71px;
	bottom: 0;
	left: 15%;
	
	width: 85%;
	overflow: auto;
	
	padding: 20px;
}

.fotter
{
	padding: 10px;
	background: linear-gradient(to bottom,#444 0,#222 100%);
	color: white;
	font-size: 14px;
	text-align: center;
}

.list-group, .list-group-item
{
	border:0;
}

.list-group-item
{
	padding: 10px 20px;
}

.list-group-item ul
{
	padding: 0;
	margin: 5px 0;
	list-style: none;
}

.list-group-item li
{
	padding: 5px 0;
	margin: 0;
	list-style: none;
}

.org-name
{
	font-size: 15px;
	color: #999;
}

.space-name
{
	color: #444;
}

.space-name:ACTIVE, .space-name:FOCUS
{
	text-decoration: none;
}

.space-name:HOVER
{
	font-size: 14px;
	color: #f91;
	text-decoration: none;
}

.space-name.selected
{
	padding-left: 10px;
	font-weight: bold;
	border-left: 3px solid #f91;
}

.org-details, .space-details, .app-functions
{
	position: relative;
}

.app-functions
{
	display: table;
	width: 100%;
}

.app-functions button
{
	margin: 0 5px;
}

#orgName, #spaceName
{
	margin: 10px 0;
	vertical-align: middle;
}

.org-details .progress
{
	margin: 10px 0;
}

#orgName, #spaceName
{
	display: inline-block;
	position: relative;
}

.org-name-description, .space-name-description
{
	font-size: 12px;
	color: red;
}

#orgName:HOVER .glyphicon-pencil, #spaceName .glyphicon-pencil
{
	display: inline;
}

#orgName .glyphicon-pencil, #spaceName .glyphicon-pencil
{
	display: none;
	position: absolute;
	font-size: 10px;
    margin-left: 5px;
}

#orgName .glyphicon-pencil
{
    top: 22px;
    right: -12px;
}

#spaceName .glyphicon-pencil
{
    top: 17px;
    right: -18px;
}

.org-menus, .space-menus
{
	position: absolute;
	bottom: 30px;
	right: 5px;
}

.space-menus
{
	bottom: 0px;
}

.org-menus a
{
	margin: 0 10px;
}

.app-functions
{
	margin: 10px 0;
}

.app-functions .dropdown
{
	display: inline-block;
}

.app-filtering
{
	position: relative;
	
	padding: 5px;
	
	border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
	background: #E7E7E7;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e0e0e0));
    background: -webkit-linear-gradient(top, #eee 0%, #e0e0e0);
    background: -moz-linear-gradient(top, #eee 0%, #e0e0e0);
    background: -ms-linear-gradient(top, #eee 0%, #e0e0e0);
    background: -o-linear-gradient(top, #eee 0%, #e0e0e0);
    background: linear-gradient(top, #eee 0%, #e0e0e0);
}

.app-filtering > div:last-child
{
	width: 59.5%;
	text-align: right;
}

.app-filtering .glyphicon-search
{
	position: absolute;
	top: 9.5px;
	left: 9.5px;
	z-index: 1000;
	
	color: #aaa;
}

#appFilter
{
	padding-left: 30px;
}

#removeFilterValue
{
	position: absolute;
	top: 9.5px;
	right: 9.5px;
	z-index: 1000;
	
	color: #aaa;
	
	cursor: pointer;
}

#removeFilterValue:HOVER
{
	color: black;
}

.apps-status
{
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	
	z-index: -1;
	
	text-align: center;
}

.apps-status .glyphicon
{
	margin-left: 10px;
}

.apps-status .glyphicon + span
{
	margin-left: 5px;
	margin-right: 10px;
	
	color: #565656;
}

.apps-status span
{
	font-size: 17px;
	font-weight: 600;
}

.app-filtering > div
{
	display: inline-block;
	width: 40%;
	vertical-align: middle;
}

.app-filtering input
{
	border-radius: 5px;
}

.apps-table
{
	width: 100%;
}

.apps-table th
{
	text-align: center;
	
	padding: 15px 10px;
	
	border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    
	background: -webkit-linear-gradient(top, #eee 0%, #e0e0e0);
    background: -moz-linear-gradient(top, #eee 0%, #e0e0e0);
    background: -ms-linear-gradient(top, #eee 0%, #e0e0e0);
    background: -o-linear-gradient(top, #eee 0%, #e0e0e0);
    background: linear-gradient(top, #eee 0%, #e0e0e0);
    background: #e7e7e7;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e0e0e0));
}

.app-details
{
	margin-top: 50px;
}

.apps-table td
{
	text-align: center;
	padding: 10px 5px;
	border-bottom: 1px solid #e0e0e0;
}

.apps-table tbody tr
{
/* 	background-color: #f7f7f7; */
}

.apps-table tbody tr:HOVER, .apps-table tbody tr.selected
{
	background-color: #eaf3fe;
}

.apps-table tbody tr.selected td:FIRST-CHILD
{
	border-left: 3px solid #FF9911;
}

.apps-table tbody tr:FIRST-CHILD, .apps-table tbody tr:FIRST-CHILD:HOVER
{
	background-color: white;
}

.apps-table td p
{
	margin: 0;
}

.apps-table td .input-group
{
	display: inline-block;
}

.app-name
{
	font-size: 17px;
}

.app-name, .app-name + td
{
	text-align: left !important;
}

.app-name .glyphicon-pencil
{
	display: none;
	font-size: 10px;
}

.app-name span:first-child:HOVER + .glyphicon-pencil
{
	display: inline;
}

.app-name span:first-child + .glyphicon-refresh + .glyphicon-pencil
{
	display: none !important;
}

.app-name-message
{
	font-size: 10px;
	color: red;
}

.app-scale-buttons > *
{
	display: none;
}

.app-scale-buttons span
{
	cursor: pointer;
}

.app-scale-buttons span:HOVER
{
	text-decoration: underline;
}

.app-scale-buttons .glyphicon-refresh
{
	animation-name: progress;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#appsBody
{
	position: relative;
}

#appsBody .input-group
{
	float: left;
	width: 49%;
	margin: 0 0.5%;
}

#appsBody .text-primary + span
{
	color: #337ab7;
}

#appsBody .text-muted + span
{
	color: #777;
}

#appsBody .text-danger + span
{
	color: #a94442;
}

.tab-pane
{
	padding: 20px 0;
	position: relative;
}

.tab-pane .pre-label
{
	margin: 20px 0 5px 0;
    color: #686868;
    font-weight: bold;
    font-size: 14px;
}

.tab-pane .pre-label:FIRST-CHILD
{
	margin-top: 0;
}

.tab-pane pre
{
	white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    border: 1px solid #dce2e3;
    border-radius: 3px;
    background-color: #eee;
    padding: 10px;
}

.refresh-app-list-description
{
	font-size: 12px;
	margin-right: 10px;
}

#refreshAppList
{
	cursor: pointer;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.scale-result-desc
{
	font-size: 13px;
	color: red;
	vertical-align: middle; 
}

.scale-result-desc + span
{
	color: #aaa;
	cursor: pointer;
	vertical-align: middle;
}

.scale-result-desc + span:HOVER
{
	color: black;	
}

.scale-result-tr:HOVER
{
	background-color: white !important;
}

.quotaProgress
{
	font-size: 11px;
}

#createSpaceDialog .form-row
{
	margin: 10px 0;
}

#createSpaceDialog .form-row label
{
	display: block;
	font-size: 12px;
}

#createSpaceMessage
{
	color: red;
	font-size: 12px;
}

.select
{
	background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 45px;
    width: 60%;
}