.sub-container table
{
	border-top: 1px solid #dce2e3;
	border-bottom: 1px solid #dce2e3;
	
	margin-top: 10px;
}

.sub-container table small
{
	color: #999;
}

.type-select
{
	width: 300px;
}

.members-emails
{
	width: 50%;
	display: inline-block;
	margin-right: 10px;
}