<link href="@{css}/domains.css" rel="stylesheet">

<script src="@{js}/domains.js"></script>

<script type="text/template" id="domainRowTemplate">
<tr>
	<td>{domain}</td>
	<td>
		<button type="button" class="btn btn-danger delete">Delete</button>
		<span class="domain-message"></span>
	</td>
</tr>
</script>

<div class="container">
	<div class="page-header">
		<h2>Domains</h2>
	</div>
	<form id="domainsForm">
		<div>
			<select class="org-select" id="orgSelect" name="owning_organization_guid" required disabled>
				<option value="" disabled selected>Organizations Loadding...</option>
			</select>
		</div>
		<div>
			<table class="domains-table">
				<colgroup>
					<col style="width: 80%;">
					<col style="width: 20%;">
				</colgroup>
				<thead>
					<tr>
						<th>Name</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody id="domainsBody">
					<tr class="progress-row">
						<td colspan="2" style="position: relative; height: 250px;">
							<div class="background-progress" style="display: block; position: absolute;" id="appsProgress">
								<div class="vertical-bar"></div>
								<div class="progress-content">
									<span class="glyphicon glyphicon-refresh"></span>
									<p class="progress-message">Domains loading...</p>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="margin-top: 10px;">
			<div class="input-group" style="width: 400px;">
				<input type="text" class="form-control" id="domainName" placeholder="domain name" name="name" required>
			</div>
			<div class="input-group" style="width: 500px;">
				<span class="glyphicon glyphicon-refresh small-progress"></span>
				<input type="submit" class="btn btn-primary" value="Add">
				<span id="cancel">Cancel</span>
				<span id="message"></span>
			</div>
		</div>
	</form>
</div>