<link href="@{css}/sign.css" rel="stylesheet">

<div class="section sign-container">
	<div class="container">
		<div class="center-align">
			<img src="@{imgs}/user_expired.png">
		</div>
		<h1 class="header center">Your activation code has expired.</h1>
		<h3 class="center" style="color:#0190e2;">Please, enter your account information again.</h3>
		<div class="row center">
			<form>
				<div class="input-field for-central">
		          	<input id="emailAddress" type="text" class="validate" autocomplete="off" value="">
		          	<label for="emailAddress">Email Address</label>
		        </div>
		        <div class="input-field for-central">
		          	<input id="password" type="text" class="validate">
		          	<label for="password">Password</label>
		        </div>
		        <div class="input-field for-central">
		          	<input id="passwordConfirm" type="text" class="validate">
		          	<label for="passwordConfirm">Password Confirm</label>
		        </div>
				<div class="center margin-top-20">
					<a class="waves-effect waves-light btn action-button">Create</a>
				</div>
			</form>
		</div>
	</div>
</div>