<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />
<title>Cloud Foundry Web Service</title>

<link rel="stylesheet" href="@{libs}/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="@{css}/common.css">

<script src="@{libs}/jquery-2.2.3.min.js"></script>
<script src="@{libs}/bootstrap/js/bootstrap.min.js"></script>
<script src="@{libs}/form.js"></script>
<script src="@{libs}/pumpkin.js"></script>
<script src="@{libs}/event_emitter.js"></script>
<script src="@{libs}/cf/cf-client.js"></script>
<script src="@{js}/common.js"></script>
<script src="@{js}/messages.js"></script>

<script>
window.onhashchange = function()
{
	_global.parseHash();
	_ee.emit('hashchange');
};

$(document).ready(function()
{
	$('#signout').on('click', function()
	{
		CF.signout(function()
		{
			location.href = '/';	
		});
	});
});
</script>
</head>

<body>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<img src="@{imgs}/logo_sk.png">
				<img src="@{imgs}/logo_black.png">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      		<ul class="nav navbar-nav">
        		<li><a href="#">Marketplace</a></li>
        		<li><a href="#">Docs</a></li>
      		</ul>
      		<ul class="nav navbar-nav navbar-right">
        		<li><a id="username" class="black-text" href="/profile" data-username="#{username}"><span class="glyphicon glyphicon-user"></span> #{username}</a></li>
        		<li><a class="black-text" href="#" id="signout"><span class="glyphicon glyphicon-log-out"></span> Sign out</a></li>
	        </ul>
	    </div>
  	</div>
</nav>
${#{1}}
<div class="alert-board"></div>
<div class="background-progress" id="backgroundProgress">
	<div class="vertical-bar"></div>
	<div class="progress-content">
		<span class="glyphicon glyphicon-refresh"></span>
		<p class="progress-message"></p>
	</div>
</div>
</body>

</html>