<link href="@{css}/marketplace.css" rel="stylesheet">
<script src="@{js}/marketplace.js"></script>

<script type="text/template" id="serviceRowTemplate">
<div class="service-row">
	<!-- div class="image-container">
		<img src="{imageUrl}">
	</div -->
	<div class="service-container">
		<div class="service-name">
			<h2>{name} <small>{label}</small></h2>
		</div>
		<div class="service-description">
			{description}
		</div>
		<div>
			<span class="view-plans">View plans</span>
		</div>
	</div>
	<div class="plans-container">
		<table class="plans-table">
			<colgroup>
				<col style="width: 20%;">
				<col style="width: 20%;">
				<col style="width: 20%;">
				<col style="width: 20%;">
				<col style="width: 20%;">
			</colgroup>
			<tbody>
			</tbody>
		</table>
		<div class="background-progress plans-progress" style="display: block; position: absolute;">
			<div class="vertical-bar"></div>
			<div class="progress-content">
				<span class="glyphicon glyphicon-refresh"></span>
				<p class="progress-message">Plans Loading...</p>
			</div>
		</div>
	</div>
</div>
</script>

<div class="container">
	<div class="page-header">
		<h2>Marketplace</h2>
	</div>
	<div id="serviceList"></div>
	
	<div class="background-progress marketplace-progress" style="display: block; position: absolute;">
		<div class="vertical-bar"></div>
		<div class="progress-content">
			<span class="glyphicon glyphicon-refresh"></span>
			<p class="progress-message">Marketplace Loading...</p>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="selectPlanDialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modalTitle"></h4>
			</div>
			<form class="modal-form">
				<div class="modal-body">
					<p id="modalDescription"></p>
					<p id="modalPlanName"></p>
					<div class="form-row">
						<div class="input-group">
	  						<input type="text" class="form-control" name="name" placeholder="Instance name" required>
						</div>
					</div>
					<div class="form-row">
						<select class="select" id="modalOrganizations" required></select>
					</div>
					<div class="form-row">
						<select class="select" name="space_guid" id="modalSpaces" required></select>
					</div>
					<div class="form-row">
						<select class="select" name="appGuid" id="modalApps" disabled></select>
					</div>
					<div class="form-row">
						<p>Add Parameters(optional)</p>
						<div class="input-group parameters" style="width: 100%;">
							<input type="text" class="form-control key" placeholder="key" style="width: 45%;">
							<input type="text" class="form-control value" placeholder="value" style="width: 45%;">
							<span class="glyphicon glyphicon-plus"></span>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<span class="glyphicon glyphicon-refresh small-progress"></span>
					<span class="message" style="float:left;" id="modalMessage"></span>
					<input type="submit" class="btn btn-primary" value="Add">
					<button type="button" class="btn btn-default" id="cancelModal">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>