<link href="@{css}/members.css" rel="stylesheet">

<script src="@{js}/members.js"></script>

<script type="text/template" id="userRowTemplate">
<tr data-guid="{guid}">
	<td>{username}</td>
	<td><input type="checkbox" class="managers"></td>
	<td><input type="checkbox" class="billing_managers developers"></td>
	<td><input type="checkbox" class="auditors"></td>
	<td>
		<span class="glyphicon glyphicon-remove"></span>
		<span></span>
	</td>
</tr>
</script>

<div class="container">
	<div class="page-header">
		<h2>Members</h2>
	</div>
	<form id="membersForm">
		<div>
			<p><span class="upper-label">Organization</span> <span class="upper-label">Space</span></p>
			<select class="select" id="orgSelect" name="org" required disabled>
				<option value="" disabled selected>Organizations Loading...</option>
			</select>
			<select class="select" id="spaceSelect" name="space" disabled>
				<option value="" disabled selected>Spaces Loading...</option>
			</select>
		</div>
		<div>
			<table class="members-table" id="orgTable">
				<colgroup>
					<col style="width: 40%;">
					<col style="width: 15%;">
					<col style="width: 15%;">
					<col style="width: 15%;">
					<col style="width: 15%;">
				</colgroup>
				<thead>
					<tr>
						<th>Member</th>
						<th>Org Manager</th>
						<th>Org Billing Manager</th>
						<th>Org Auditor</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr class="progress-row">
						<td colspan="5" style="position: relative; height: 250px;">
							<div class="background-progress" style="display: block; position: absolute;">
								<div class="vertical-bar"></div>
								<div class="progress-content">
									<span class="glyphicon glyphicon-refresh"></span>
									<p class="progress-message">Members of organization loading...</p>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<table class="members-table" style="display: none;" id="spaceTable">
				<colgroup>
					<col style="width: 40%;">
					<col style="width: 15%;">
					<col style="width: 15%;">
					<col style="width: 15%;">
					<col style="width: 15%;">
				</colgroup>
				<thead>
					<tr>
						<th>Member</th>
						<th>Space Manager</th>
						<th>Space Developer</th>
						<th>Space Auditor</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="progress-row">
						<td colspan="5" style="position: relative; height: 250px;">
							<div class="background-progress" style="display: block; position: absolute;">
								<div class="vertical-bar"></div>
								<div class="progress-content">
									<span class="glyphicon glyphicon-refresh"></span>
									<p class="progress-message">Members of space loading...</p>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="margin-top: 10px;">
			<div class="input-group" style="width: 600px;">
				<input type="text" class="form-control" id="emails" placeholder="Emails (use commas to separate emails)" name="emails" required>
			</div>
			<div class="input-group" style="width: 500px;">
				<span class="glyphicon glyphicon-refresh small-progress"></span>
				<input type="submit" class="btn btn-primary" value="Invite">
				<span id="cancel">Cancel</span>
				<span id="message"></span>
			</div>
		</div>
	</form>
</div>