<link href="@{css}/organization.css" rel="stylesheet">
<script src="@{js}/orgList.js"></script>
<script src="@{js}/appList.js"></script>

<script type="text/template" id="orgItemTemplate">
<li class="list-group-item">
	<span class="org-name">{orgName}</span>
	<ul>
	</ul>
</li>
</script>

<script>
$(document).ready(function()
{
	$('#appDetailTab a').click(function(e)
	{
		  e.preventDefault()
		  $(this).tab('show')
	});	
});
</script>

<div class="org-body">
	<div class="org-list">
		<ul class="list-group" id="orgList"></ul>
	</div>
	<div class="org-container">
		<div class="org-details">
			<h1>microservice1</h1>
			<div class="progress">
				<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">60%</div>
			</div>
			<div class="org-menus">
				<a href="">Members</a>
			</div>
		</div>
		<div class="apps-container">
			<div class="app-functions">
				<button type="button" class="btn btn-primary" disabled>Start</button>
				<button type="button" class="btn btn-default" disabled>Update app scale</button>
				<button type="button" style="float: right;" class="btn btn-danger" disabled>Delete</button>
			</div>
			<div class="app-filtering">
				<div class="input-group" style="width: 50%;">
					<input type="text" class="form-control" placeholder="Filter by application name">
				</div>
			</div>
			<table class="apps-table">
				<colgroup>
					<col style="width: 10%;">
					<col style="width: 25%;">
					<col style="width: 35%;">
					<col style="width: 10%;">
					<col style="width: 10%;">
					<col style="width: 10%;">
				</colgroup>
				<thead>
					<tr>
						<th>App State</th>
						<th>Name</th>
						<th>URL</th>
						<th>Instances</th>
						<th>Memory Limit</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="appsBody">
				</tbody>
			</table>
			<div class="app-details">
				<div id="appDetailTab">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
						<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
						<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
						<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="home">...</div>
						<div role="tabpanel" class="tab-pane fade" id="profile">...</div>
						<div role="tabpanel" class="tab-pane fade" id="messages">...</div>
						<div role="tabpanel" class="tab-pane fade" id="settings">...</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>