<link href="@{css}/organization/organization.css" rel="stylesheet">

<script src="@{js}/organization/orgList.js"></script>
<script src="@{js}/organization/appList.js"></script>
<script src="@{js}/organization/orgDetail.js"></script>
<script src="@{js}/organization/spaceDetail.js"></script>

<script type="text/template" id="orgItemTemplate">
<li class="list-group-item">
	<span class="org-name">{orgName}</span>
	<ul>
	</ul>
</li>
</script>

<script type="text/template" id="appItemTemplate">
<tr id="{guid}">
	<td><span class="{stateColor} glyphicon {stateIcon}"></span> <span>{state}</span></td>
	<td class="app-name">{name}</td>
	<td class="app-routes">Routes loading...</td>
	<td>{disk}</td>
	<td colspan="2">
		<form>
			<div class="input-group">
				<input type="number" class="form-control" data-value="{instance}" value="{instance}" name="instance" required data-id="instance">
			</div>
			<div class="input-group">
				<input type="number" class="form-control" data-value="{memory}" value="{memory}" name="memory" required data-id="memory">
			</div>
			<input type="submit" style="display: none;">
		</form>
	</td>
	<td class="app-scale-buttons">
		<button type="button" class="btn btn-primary" data-id="updateScale">Update</button>
		<span data-id="cancelScale">Cancel</span>
		<span class="glyphicon glyphicon-refresh"></span>
	</td>
</tr>
</script>

<script type="text/template" id="scaleResultTemplate">
<tr class="scale-result-tr">
	<td colspan="7" style="text-align: right;">
		<span class="scale-result-desc">{description}</span>
		<span class="glyphicon glyphicon-remove"></span>
	</td>
</tr>
</script>

<div class="org-body">
	<div class="org-list">
		<ul class="list-group" id="orgList"></ul>
	</div>
	<div class="org-container">
		<div class="org-details">
			<div>
				<h1 id="orgName"><span></span><span class="glyphicon glyphicon-pencil"></span></h1>
				<span class="glyphicon glyphicon-chevron-right" style="margin: 0 20px; font-size: 15px; font-weight: normal;"></span>
				<h2 id="spaceName"><span></span><span class="glyphicon glyphicon-pencil"></span></h2>
			</div>
			<div>
				<span class="org-name-description"></span>
				<span class="space-name-description"></span>
			</div>
			<div class="progress">
				<div id="quotaProgress" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">Organization quota loading...</div>
			</div>
			<div class="org-menus">
				<a href=""><span class="glyphicon glyphicon-link"></span> Domains</a>
				<a href=""><span class="glyphicon glyphicon-link"></span> Members</a>
				<a href=""><span class="glyphicon glyphicon-link"></span> Services</a>
			</div>
		</div>
		<hr style="border-color: #e0e0e0;">
		<div class="apps-container">
			<div class="app-functions">
				<div class="apps-status">
					<span class="text-primary glyphicon glyphicon-play"></span><span id="startedAppCount">Loading...</span>
					<span class="text-muted glyphicon glyphicon-pause"></span><span id="stoppedAppCount">Loading...</span>
					<span class="text-danger glyphicon glyphicon-stop"></span><span id="downAppCount">Loading...</span>
				</div>
				<button type="button" class="btn btn-primary" disabled>Start</button>
				<button type="button" style="float: right;" class="btn btn-danger" disabled>Delete</button>
			</div>
			<div class="app-filtering">
				<div class="input-group">
					<span class="glyphicon glyphicon-search"></span>
					<input type="text" class="form-control" placeholder="Filter by application name" id="filterValue">
					<span class="glyphicon glyphicon-remove" id="removeFilterValue"></span>
				</div>
				<div>
					<span class="refresh-app-list-description">Please, wait for refresh...</span>
					<span class="glyphicon glyphicon-refresh" id="refreshAppList"></span>
				</div>
			</div>
			<table class="apps-table">
				<colgroup>
					<col style="width: 10%;">
					<col style="width: 25%;">
					<col style="width: 25%;">
					<col style="width: 10%;">
					<col style="width: 10%;">
					<col style="width: 10%;">
					<col style="width: 10%;">
				</colgroup>
				<thead>
					<tr>
						<th>App State</th>
						<th>Name</th>
						<th>URL</th>
						<th>Disk Limit (MB)</th>
						<th>Instances</th>
						<th>Memory Limit (MB)</th>
						<th>Update scale</th>
					</tr>
				</thead>
				<tbody id="appsBody">
					<tr>
						<td colspan="7" style="position: relative; height: 250px;">
							<div class="background-progress" style="display: block; position: absolute;" id="appsProgress">
								<div class="vertical-bar"></div>
								<div class="progress-content">
									<span class="glyphicon glyphicon-refresh"></span>
									<p class="progress-message">Applications loading...</p>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="app-details" style="display: none;" id="appDetails">
				<div id="appDetailTab">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#about" aria-controls="about" role="tab" data-toggle="tab">About</a></li>
						<li role="presentation"><a href="#status" aria-controls="status" role="tab" data-toggle="tab">Status</a></li>
						<li role="presentation"><a href="#services" aria-controls="services" role="tab" data-toggle="tab">Services</a></li>
						<li role="presentation"><a href="#env" aria-controls="env" role="tab" data-toggle="tab">Env Variables</a></li>
						<li role="presentation"><a href="#routes" aria-controls="routes" role="tab" data-toggle="tab">Routes</a></li>
						<li role="presentation"><a href="#logs" aria-controls="logs" role="tab" data-toggle="tab">Logs</a></li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="about">
							${organization/about}
						</div>
						<div role="tabpanel" class="tab-pane fade" id="status">
							${organization/status}
						</div>
						<div role="tabpanel" class="tab-pane fade" id="services">
							${organization/services}
						</div>
						<div role="tabpanel" class="tab-pane fade" id="env">
							${organization/env}
						</div>
						<div role="tabpanel" class="tab-pane fade" id="routes">
							${organization/routes}
						</div>
						<div role="tabpanel" class="tab-pane fade" id="logs">
							${organization/logs}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>