<link href="@{css}/profile.css" rel="stylesheet">

<script>
$(document).ready(function()
{
	$('.body-container').show();

	CF.users('getUser', {username : $('#username').attr('data-username')}, function(result)
	{
		if(result && result.resources.length == 1)
		{
			var profile = result.resources[0];
			if(profile.name.familyName)
				$('#familyName').val(profile.name.familyName).next().addClass('active');
			if(profile.name.givenName)
				$('#givenName').val(profile.name.givenName).next().addClass('active');
			$('#id').val(profile.id);
		}
	});
	
	$('#save').on('click', function()
	{
		var password = $('#password').val();
		var passwordConfirm = $('#passwordConfirm').val();
		
		if((password || passwordConfirm) && password != passwordConfirm)
		{
			common_warning('Password is not accord each other.');
			return;
		}
		else if(password && passwordConfirm && password == passwordConfirm)
		{
			CF.users('password', {id : $('#id').val(), username : $('#username').attr('data-username'), password : password}, function(result)
			{
				if(result && result.status == 'ok')
				{
					common_alert('Password updated.');
				}
				else
				{
					common_error(result);
				}
			});
		}
		
		CF.users('updateUser', {id : $('#id').val(), name : {familyName : $('#familyName').val(), givenName : $('#givenName').val()}}, function(result)
		{
			if(result)
			{
				common_alert('User information updated.');		
			}
			else
			{
				common_error(result);
			}
		});
	});
	
	confirmButton($('.confirm-button'), function()
	{
// 		CF.async({url : '/v2/users/' + $('#id').val() + '/organizations'}, function(result)
// 		{
// 			console.log("하 : ", result);
// 			if(result)
// 			{
// 				var organizations = result.resources;
// 				for(var i=0; i<organizations.length; i++)
// 				{
// 					CF.async({url : '/v2/users/' + $('#id').val() + '/organizations/' + organizations[i].metadata.guid}, function(){});
// 				}
// 			}
// 		});
		CF.users('delete', {id : $('#id').val()}, function(result)
		{
			if(result)
			{
				CF.signout(function()
				{
					location.href = '/';	
				});
			}
		});
	});
});
</script>

<div class="section sign-container">
	<div class="container center-align">
		<div class="center-align editable-img">
			<img src="@{imgs}/user_smile.png"> <i class="material-icons edit-icon">mode_edit</i>
		</div>
		<h3><span>#{username}</span></h3>
		<div>
			<input type="hidden" id="id">
		</div>
		<div class="input-field for-central">
          	<input id="password" type="password" name="password">
          	<label for="password">Password</label>
        </div>
		<div class="input-field for-central">
          	<input id="passwordConfirm" type="password" name="passwordConfirm">
          	<label for="passwordConfirm">Password confirm</label>
        </div>
		<div class="input-field for-central">
          	<input id="familyName" type="text" name="familyName">
          	<label for="familyName">Family name</label>
        </div>
        <div class="input-field for-central">
          	<input id="givenName" type="text" name="givenName">
          	<label for="givenName">Given name</label>
        </div>
        <div>
        	<span class="target-button waves-effect waves-light btn action-button" id="save">Save</span>
			<div class="confirm-button">
				<span class="target-button waves-effect waves-light btn red darken-3">Delete</span>
				<span class="confirm">Delete</span>
			</div>
		</div>
	</div>
</div>