<link href="@{css}/profile.css" rel="stylesheet">
<script src="@{js}/profile.js"></script>

<div class="container">
	<div class="page-header">
		<h2>Profile</h2>
	</div>
	<form id="profileForm">
		<div class="input-group">
			<p>Username</p>
			<span>#{username}</span>
			<input type="hidden" class="form-control" name="id" id="id">
		</div>
		<div class="input-group">
			<p>Password</p>
			<input type="password" class="form-control" name="password" required>
		</div>
		<div class="input-group">
			<p>Password confirm</p>
			<input type="password" class="form-control" name="passwordConfirm" required>
		</div>
		<div class="input-groupt">
			<span class="glyphicon glyphicon-refresh small-progress"></span>
			<input type="submit" class="btn btn-primary" value="Save">
			<button type="button" class="btn btn-danger delete">Delete</button>
		</div>
	</form>
	<p class="message"></p>
</div>

<div class="background-progress profile-progress" style="display: block; position: absolute;">
	<div class="vertical-bar"></div>
	<div class="progress-content">
		<span class="glyphicon glyphicon-refresh"></span>
		<p class="progress-message">Profile loading...</p>
	</div>
</div>