<link href="@{css}/sign.css" rel="stylesheet">

<script>
var login = function(id, password)
{
	CF.signin({id : id, password : password}, function(result)
	{
		if(result && result.redirect)
			location.href = result.redirect;
		else
			location.href = '/organization';
	},
	function(error)
	{
		if(error.status == 500)
		{
			var reason = JSON.parse(error.responseText);
			common_error(reason.error.error_description);
		}
	});	
};

$(document).ready(function()
{
	$("#signin").on("click", function()
	{
		if(requiredValidation($('#signinForm')))
		{
			var id = $('#emailAddress').val();
			var password = $('#password').val();
			
			login(id, password);
		}
	});
	
	$("#password").on("keyup", function(e)
	{
		if(e.keyCode == 13)
		{
			if(requiredValidation($('#signinForm')))
			{
				var id = $('#emailAddress').val();
				var password = $('#password').val();
				
				login(id, password);
			}
		}
	});
});
</script>

<div class="section sign-container">
	<div class="container">
		<div class="center-align">
			<img src="@{imgs}/user_smile.png">
		</div>
		<h1 class="header center">Sign in</h1>
		<div class="row center">
			<h4 class="header col s12 light">with your email</h4>
		</div>
		<div class="row center">
			<div id="signinForm">
				<div class="input-field for-central">
		          	<input id="emailAddress" type="email" class="validate" name="email" autofocus autocomplete="off" required>
		          	<label for="emailAddress">Email Address</label>
		        </div>
		        <div class="input-field for-central">
		          	<input id="password" type="password" name="password" class="validate" required>
		          	<label for="password">Password</label>
		        </div>
				<div class="center margin-top-20">
					<a class="waves-effect waves-light btn action-button" id="signin">Sign in</a>
<!-- 					<a class="waves-effect waves-light btn lost-button">I lost my account</a> -->
				</div>
			</div>
		</div>
		<div class="row center">
			<h5 class="header col s12 light">or with</h5>
		</div>
		<div class="row center open-oauth">
			<a><img src="@{imgs}/icon_fb.png"> Facebook</a>
			<a><img src="@{imgs}/icon_tw.png"> Twitter</a>
			<a><img src="@{imgs}/icon_gp.png"> Google+</a>
		</div>
		<div class="row center">
			<p>If you want to sign up, please visit to <a href="/signup">sign up</a> page.</p>
		</div>
	</div>
</div>