<link href="@{css}/sign.css" rel="stylesheet">

<script>
$(document).ready(function()
{
	var username = $('#email').val();
	$('#signup').on('click', function(e)
	{
		if(requiredValidation($('#createForm')))
		{
			var password = $('#password').val();
			var passwordConfirm = $('#passwordConfirm').val();
			
			if(password != passwordConfirm)
			{
				common_warning('Password is not accord each other.');
			}
			else
			{
				CF.users('password', {username : username, id : $('#id').val(), password : password}, function(result)
				{
					if(result.status == 'ok')
					{
						location.href = '/organization'
					}
				});
			}
		}
	});
});
</script>

<div class="section sign-container">
	<div class="container">
		<div class="center-align">
			<img src="@{imgs}/user_smile.png">
		</div>
		<h1 class="header center">Change your password</h1>
		<div class="row center">
			<div id="createForm">
				<input type="hidden" id="id" name="id" value="#{id}">
				<div class="input-field for-central" style="display: none;">
		          	<input id="email" type="text" class="validate" autocomplete="off" value="#{username}" required>
		          	<label for="email">Email Address</label>
		        </div>
		        <div class="input-field for-central">
		          	<input id="password" type="password" class="validate" required>
		          	<label for="password">Password</label>
		        </div>
		        <div class="input-field for-central">
		          	<input id="passwordConfirm" type="password" class="validate" required>
		          	<label for="passwordConfirm">Password Confirm</label>
		        </div>
				<div class="center margin-top-20">
					<a class="waves-effect waves-light btn action-button" id="signup">Change</a>
				</div>
			</div>
		</div>
	</div>
</div>