<script>
$(document).ready(function()
{
	editableText($('#spaceName'), function(value)
	{
		var item = $('#spaceName').get(0).item;
		if(item)
		{
			CF.async({url : '/v2/spaces/' + item.metadata.guid, method : 'PUT', form : {name : value} }, function(result)
			{
				if(result)
				{
					if(result.entity && result.entity.name == value)
					{
						$('#' + item.metadata.guid).text(value);
						common_alert('Space name is changed.');
					}
					else
					{
						common_error(result.description);
					}
				}
			});
		}
	});
	
	confirmButton($('.space-title .confirm-button'), function()
	{
		var item = $('#spaceName').get(0).item;
		if(item)
		{
			CF.async({url : '/v2/spaces/' + item.metadata.guid, method : 'DELETE'}, function(result)
			{
				var prev = $('#' + item.metadata.guid).prev();
				var next = $('#' + item.metadata.guid).next();
				
				if(prev)
					_ee.emit('select_space', prev.get(0));
				else if(next)
					_ee.emit('select_space', next.get(0));
				else
					location.href = '/organization/' + item.organization.metadata.guid;
				
				$('#' + item.metadata.guid).remove();
			});
		}
	});
});

_ee.on('select_space', function(space)
{
	if(!_global.url[2] || (_global.url[2] == 'space' && !_global.url[3]))
	{
		window.history.replaceState({}, null, '/organization/' + space.item.organization.metadata.guid + '/space/' + space.item.metadata.guid + '/apps');
		_global.setUrl();
	}
	
	$('.textlink').each(function()
	{
		var href = $(this).attr('href');
		if(href)
			$(this).attr('href', href.replace('#{2}', _global.url[1]).replace('#{4}', _global.url[3]));
	});
	
	$('.organization-content').hide();
	
	if(_global.url[4] != 'apps')
		$('.space-status').hide();
	else
		$('.space-status').show();
	
	$("#orgList .collection-item.selected").removeClass('selected');
	$(space).addClass('selected');
	$('#spaceName').text(space.item.entity.name).get(0).item = space.item;
	
	_ee.emit('space_selected', space);
	
	$('.space').show();
	$('.organization-content').hide();
});
</script>

<div class="space" style="display:none;">
	<div class="space-title">
 		<h4><span id="spaceName"></span></h4>
 		<div class="confirm-button">
			<span class="target-button"><img src="@{imgs}/icon_delete.png"></span>
			<span class="confirm">Delete</span>
		</div>
 		<div class="space-status">
 			<span class="status run"> <img src="@{imgs}/icon_run.png"> <span id="spaceStatusRunning">0</span> Running</span>
 			<span class="status stop"> <img src="@{imgs}/icon_stop.png"> <span id="spaceStatusStopped">0</span> Stopped</span>
 			<span class="status down"> <img src="@{imgs}/icon_down.png"> <span id="spaceStatusDown">0</span> Down</span>
 		</div>
 		<div class="space-functions">
	 		<a class="textlink" href="/organization/#{2}/space/#{4}/services"><span>Services</span> <img src="@{imgs}/icon_arrow_rt.png"></a>
<!-- 	 		<a class="textlink" href="/organization/space/#{3}/routes"><span>Routes</span> <img src="@{imgs}/icon_arrow_rt.png"></a> -->
 		</div>
 	</div>
 	${#{5}}
</div>