<script src="@{js}/organization/appAbout.js"></script>

<div class="background-progress aboutProgress" style="display: block; position: absolute;">
	<div class="vertical-bar"></div>
	<div class="progress-content">
		<span class="glyphicon glyphicon-refresh"></span>
		<p class="progress-message"></p>
	</div>
</div>

<div style="display: none;">
	<p class="pre-label">BUILDPACK</p>
	<pre class="buildpack"></pre>
	<p class="pre-label">START CMD</p>
	<pre class="cmd"></pre>
	<p class="pre-label">STACK</p>
	<pre class="stack"></pre>
</div>

<div class="alert alert-warning aboutMessage" style="display: none;"></div>