<div class="background-progress" style="display: block; position: absolute;" id="aboutProgress">
	<div class="vertical-bar"></div>
	<div class="progress-content">
		<span class="glyphicon glyphicon-refresh"></span>
		<p class="progress-message"></p>
	</div>
</div>

<div style="display: none;">
	<p>BUILDPACK</p>
	<pre id="buildpack"></pre>
	<p>START CMD</p>
	<pre id="cmd"></pre>
	<p>STACK</p>
	<pre id="stack"></pre>
</div>

<div class="alert alert-warning" style="display: none;" id="aboutMessage"></div>