<div class="background-progress logsProgress" style="display: block; position: absolute;">
	<div class="vertical-bar"></div>
	<div class="progress-content">
		<span class="glyphicon glyphicon-refresh"></span>
		<p class="progress-message">Logs Loading...</p>
	</div>
</div>

<div style="display: none;">
	<div class="function-container">
		<div class="right">
			<span class="next-timer"></span>
			<span class="glyphicon glyphicon-refresh small-progress"></span>
		</div>
	</div>
	<div class="logs-container">
		<pre style="width: 100%;"></pre>
	</div>
</div>

<div class="alert alert-warning logsMessage" style="display: none;"></div>