<script type="text/template" id="Application">
<div class="card margin-top-20 row app {guid}">
	<div class="row app-info">
		<div class="col s3" style="border-right: 1px solid #aac5c8; margin-right: 30px;">
			<h5><span class="app-name">{name}</span></h5>
			<div class="confirm-button">
				<span class="target-button"><img src="@{imgs}/icon_delete.png"></span>
				<span class="confirm">Delete</span>
			</div>
			<p class="app-routes"></p>
			<div class="app-functions">
				<a class="waves-effect waves-light btn action-button red lighten-1" data-app="startAndStop"><i class="material-icons">stop</i></a>
				<a class="waves-effect waves-light btn action-button purple lighten-1" data-app="restart"><i class="material-icons">refresh</i></a>
			</div>
		</div>
		<div class="col s4">
			<p>
				<span class="app-info-label">BUILDPACK</span>
				<span title="{buildpack}">{buildpack}</span>
			</p>
			<p>
				<span class="app-info-label">START CMD</span>
				<span title="{startcmd}">{startcmd}</span>
			</p>
			<p>
				<span class="app-info-label">STACK</span>
				<span title="{stack}" class="app-info-stack">{stack}</span>
			</p>
		</div>
		<div class="col s2">
			<p>
				<span class="app-info-label">Instance</span>
				<input class="number-input app-instance" type="number" value="{instance}" required>
			</p>
			<p>
				<span class="app-info-label">Memory Limit</span>
				<input class="number-input app-memory" type="number" value="{memory}" required> MB
			</p>
		</div>
		<div class="col s2 save-app-info">
			<a class="waves-effect waves-light btn action-button save">save</a> <a class="cancel">cancel</a>
		</div>
	</div>
	<div class="padding-bottom-20">
		<div class="row center margin-top-20 margin-bottom-0">
			<a class="waves-effect waves-light btn white tab-button" data-target="setAppStatus" data-interval="1000">Status <img src="@{imgs}/icon_tap_selected.png"></a>
			<a class="waves-effect waves-light btn white tab-button" data-target="setAppEvents" data-interval="60000">Events <img src="@{imgs}/icon_tap_selected.png"></a>
			<a class="waves-effect waves-light btn white tab-button" data-target="setAppServices">Services <img src="@{imgs}/icon_tap_selected.png"></a>
			<a class="waves-effect waves-light btn white tab-button" data-target="setAppEnv">Env Variables <img src="@{imgs}/icon_tap_selected.png"></a>
			<a class="waves-effect waves-light btn white tab-button" data-target="setAppRoutes">Routes <img src="@{imgs}/icon_tap_selected.png"></a>
			<a class="waves-effect waves-light btn white tab-button" data-target="setAppLogs">Logs <img src="@{imgs}/icon_tap_selected.png"></a>
		</div>
		<div class="row tab-content" data-tab="setAppStatus"></div>
		<div class="row tab-content" data-tab="setAppEvents"></div>
		<div class="row tab-content" data-tab="setAppServices"></div>
		<div class="row tab-content" data-tab="setAppEnv"></div>
		<div class="row tab-content" data-tab="setAppRoutes"></div>
		<div class="row tab-content" data-tab="setAppLogs"></div>
	</div>
</div>
</script>

<script>
(function()
{
	var setAppsInterval = null;
	var updateApp = function(param, state, callback)
	{
		var that = this;
		param.form.state = state;
		CF.async(param, function(result)
		{
			if(result)
			{
				if(result.entity)
				{
					if(state == "STARTED")
					{
						$(that).attr("data-state", "running");
						$(that).addClass("red").addClass("lighten-1").next().show().end().find("i").html("stop");
					}
					else
					{
						$(that).attr("data-state", "stopped");
						$(that).removeClass("red").removeClass("lighten-1").next().hide().end().find("i").html("play_arrow");
					}
					
					if(callback)
						callback();
				}
				else
				{
					common_error(result.description);
				}
			}
		}, common_error);
	};

	var startAndStopApp = function(app)
	{
		var state = $(this).attr("data-state");
		var param = {url : '/v2/apps/' + app.metadata.guid, method : 'put', headers : {'Content-Type' : 'application/x-www-form-urlencoded'}, form : {}};
		if(state == "running")
			updateApp.call(this, param, "STOPPED");
		else
			updateApp.call(this, param, "STARTED");
	};

	var restartApp = function(app)
	{
		var param = {url : '/v2/apps/' + app.metadata.guid, method : 'put', headers : {'Content-Type' : 'application/x-www-form-urlencoded'}, form : {}};
		var that = this;
		updateApp.call(this, param, "STOPPED", function()
		{
			updateApp.call(that, param, "STARTED");
		});
	}
	
	var setApps = function(space)
	{
		var loading = $('#appList .loading');
		$('#appList').html('').append(loading).addClass('padding-40');
		
		if(setAppsInterval)
		{
			clearInterval(setAppsInterval);
			setAppsInterval = null;
		}
		
		$('#appsLoading').show();
		setAppsInterval = setInterval(function()
		{
			CF.async({url : space.item.entity.apps_url}, function(result)
			{
				var apps = result.resources;
				if(apps)
				{
					var runningCount = 0;
					var stoppedCount = 0;
					var downCount = 0;
					
					for(var i=0; i<apps.length; i++)
					{
						var app = $('.' + apps[i].metadata.guid);
						if(apps[i].entity.state == 'STARTED')
						{
							runningCount++;
							$(app).find('a[data-app="startAndStop"]').addClass('red').attr('data-state', 'running').children('i').html('stop');
							$(app).find('a[data-app="startAndStop"]').parent().next().text('Stop');
							$(app).find('a[data-app="restart"]').show();
						}
						else if(apps[i].entity.state == 'STOPPED')
						{
							stoppedCount++;
							$(app).find('a[data-app="startAndStop"]').removeClass('red').removeClass('lighten-1').children('i').html('play_arrow');
							$(app).find('a[data-app="startAndStop"]').parent().next().text('Start');
							$(app).find('a[data-app="startAndStop"]').attr('data-state', 'stopped');
							$(app).find('a[data-app="restart"]').hide();
						}
						else
						{
							downCount++;
							$(app).find('a[data-app="startAndStop"]').removeClass('red').removeClass('lighten-1').children('i').html('play_arrow');
							$(app).find('a[data-app="startAndStop"]').parent().next().text('Start');
							$(app).find('a[data-app="startAndStop"]').attr('data-state', 'down');
							$(app).find('a[data-app="restart"]').hide();
						}
					}
					
					$('#spaceStatusRunning').text(runningCount);
					$('#spaceStatusStopped').text(stoppedCount);
					$('#spaceStatusDown').text(downCount);
				}
			});
		}, 5000);
		
		CF.async({url : space.item.entity.apps_url, method : 'GET'}, function(result)
		{
			var apps = result.resources;
			if(apps)
			{
				var runningCount = 0;
				var stoppedCount = 0;
				var downCount = 0;
				
				if(apps.length == 0)
				{
					$('#appsLoading').hide();
				}
				
				for(var i=0; i<apps.length; i++)
				{
					apps[i].space = space.item;
					var html = $('#Application').html();
					
					html = html.replace(/{guid}/gi, apps[i].metadata.guid);
					html = html.replace(/{name}/gi, apps[i].entity.name);
					html = html.replace(/{buildpack}/gi, apps[i].entity.buildpack ? apps[i].entity.buildpack : apps[i].entity.detected_buildpack);
					html = html.replace(/{startcmd}/gi, apps[i].entity.detected_start_command);
					html = html.replace(/{instance}/gi, apps[i].entity.instances);
					html = html.replace(/{memory}/gi, apps[i].entity.memory);
					
					var app = $(html);
					
					$('#appList').append(app);
					
					app.get(0).item = apps[i];
					
					if(apps[i].entity.state == 'STARTED')
					{
						runningCount++;
						$(app).find('a[data-app="startAndStop"]').attr('data-state', 'running');
						$(app).find('a[data-app="restart"]').show();
					}
					else if(apps[i].entity.state == 'STOPPED')
					{
						stoppedCount++;
						$(app).find('a[data-app="startAndStop"]').removeClass('red').removeClass('lighten-1').children('i').html('play_arrow');
						$(app).find('a[data-app="startAndStop"]').attr('data-state', 'stopped');
						$(app).find('a[data-app="restart"]').hide();
					}
					else
					{
						downCount++;
						$(app).find('a[data-app="startAndStop"]').removeClass('red').removeClass('lighten-1').children('i').html('play_arrow');
						$(app).find('a[data-app="startAndStop"]').attr('data-state', 'down');
						$(app).find('a[data-app="restart"]').hide();
					}
					
					(function(app)
					{
						$(app).find('a[data-app="startAndStop"]').on("click", function()
						{
							startAndStopApp.call(this, app.item);
						});
						
						$(app).find('a[data-app="restart"]').on("click", function()
						{
							restartApp.call($(this).prev(), app.item);
						});
						
						CF.async({url : app.item.entity.stack_url, method : "GET"}, function(stackResult)
						{
							if(stackResult && stackResult.entity)
								$(app).find(".app-info-stack").text(stackResult.entity.name + "(" + stackResult.entity.description + ")").attr('title', stackResult.entity.name + "(" + stackResult.entity.description + ")");
							else
								common_error(stackResult.description);
							
						}, common_error);
						
						CF.async({url : app.item.entity.routes_url, method : "GET"}, function(routeResult)
						{
							var routeElement = $(app).find(".app-routes");
							
							var routeList = [];
							var routes = routeResult.resources;
							if(routes)
							{
								for(var i=0; i<routes.length; i++)
								{
									var host = routes[i].entity.host;
									var domainUrl = routes[i].entity.domain_url;
									
									(function(host, route)
									{
										CF.async({url : domainUrl, method : "GET"}, function(domain)
										{
											if(domain && domain.entity)
											{
												var routeText = "http://" + host + "." + domain.entity.name;
												routeList.push({text : routeText, route_guid : route.metadata.guid, domain_guid : domain.metadata.guid, route_mappings_url : route.entity.route_mappings_url});
												routeElement.append(routeText + "<br>");
												
												routeElement.get(0).item = routeList;
												
												_ee.emit('setRoutes_done');
											}
										}, common_error);
									})(host, routes[i]);
								}
								
								setTimeout(function()
								{
									$('#appsLoading').hide();
								}, 1000);
								
								$(app).css('opacity', 1);
							}
							
						}, common_error);
					})(app.get(0));
				}
				
				$('#appList').removeClass('padding-40');
				
				$('.app-name').each(function()
				{
					var app = $(this).parent().parent().parent().parent();
					var item = app.get(0).item;
					editableText(this, function(value)
					{
						if(item)
						{
							CF.async({url : '/v2/apps/' + item.metadata.guid, method : 'PUT', form : {name : value} }, function(result)
							{
								if(result)
								{
									if(result.entity && result.entity.name == value)
									{
										common_alert(getMessage('app_name_changed', {origin : item.entity.name, result : value}));
									}
									else
									{
										common_error(result.description);
									}
								}
							});
						}
					});
					
					confirmButton($(this).parent().next(), function()
					{
						CF.async({url : '/v2/apps/' + item.metadata.guid + '/service_bindings', method : 'GET'}, function(result)
						{
							if(result)
							{
								var deleteServiceBinding = function(index, list, done)
								{
									if(list.length == index)
									{
										done();
										return;
									}
									
									CF.async({url : '/v2/service_bindings/' + list[index].metadata.guid, method : 'DELETE'}, function(result)
									{
										deleteServiceBinding(index+1, list, done);
									});
								};
								var list = result.resources;
								
								deleteServiceBinding(0, list, function()
								{
									CF.async({url : '/v2/apps/' + item.metadata.guid, method : 'DELETE'}, function(result)
									{
										$(app).remove();
									});
								});
							}
						});
					});
				});
				
				$('.app-instance').on('input', function()
				{
					var app = $(this).parent().parent().parent().parent();
					var item = app.get(0).item;
					
					if($(this).val() != item.entity.instances)
					{
						$(this).parent().parent().next().css('opacity', 1);
					}
				});
				
				$('.app-memory').on('input', function()
				{
					var app = $(this).parent().parent().parent().parent();
					var item = app.get(0).item;
					
					if($(this).val() != item.entity.memory)
					{
						$(this).parent().parent().next().css('opacity', 1);
					}
				});
				
				$('.save-app-info .save').on('click', function()
				{
					var app = $(this).parent().parent().parent();
					var item = app.get(0).item;
					
					var prev = $(this).parent().prev();
					if(requiredValidation(prev))
					{
						var instance = prev.find('.app-instance').val();
						var memory = prev.find('.app-memory').val();
						
						var that = this;
						CF.async({url : '/v2/apps/' + item.metadata.guid, method : 'PUT', form : {instances : new Number(instance), memory : new Number(memory)}}, function(result)
						{
							if(result)
							{
								if(result.entity)
								{
									item.entity.instances = new Number(instance);
									item.entity.memory = new Number(memory);

									app.get(0).item = item;
									
									$(that).parent().css('opacity', 0);
									
									common_alert('Instance and memory of app is updated.');
								}
								else
								{
									common_error(result.description);
								}
							}
						});
					}
				});
				
				$('.save-app-info .cancel').on('click', function()
				{
					var app = $(this).parent().parent().parent();
					var item = app.get(0).item;
					
					var prev = $(this).parent().prev();
					prev.find('.app-instance').val(item.entity.instances);
					prev.find('.app-memory').val(item.entity.memory);
					
					prev.find('.is-required').removeClass('.is-required');
					
					$(this).parent().css('opacity', 0);
				});
				
				$('#appList .tab-button').on('click', function()
				{
					var target = $(this).attr('data-target');
					var interval = parseInt($(this).attr('data-interval'));
					
					if($(this).attr('class').indexOf('selected') != -1)
					{
						$(this).parent().find('.selected').removeClass('selected');
						$(this).parent().parent().find('.tab-content').hide();
						
						if(this.interval)
						{
							clearInterval(this.interval);
							this.interval = null;
						}
					}
					else
					{
						$(this).parent().find('.selected').removeClass('selected');
						$(this).addClass('selected');
						$(this).parent().parent().find('.tab-content').hide();
						
						var tabContent = $(this).parent().parent().find('div[data-tab="' + target + '"]');
						tabContent.html($('#PreLoading').html());
						tabContent.show();
						
						var app = tabContent.parent().parent().get(0);
						
						_ee.emit(target, tabContent, app);
						if(interval && !isNaN(interval))
						{
							this.interval = setInterval(function()
							{
								_ee.emit(target, tabContent, app);
							}.bind(this), interval);
						}
					}
				});
				
				$('#spaceStatusRunning').text(runningCount);
				$('#spaceStatusStopped').text(stoppedCount);
				$('#spaceStatusDown').text(downCount);
			}
			else
			{
				$('#appsLoading').hide();
			}
		}, common_error);
	};
	
	_ee.on('space_selected', function(space)
	{
		setApps(space);
	});
	
	_ee.on('refresh_apps', function()
	{
		var space = $('#orgList .collection-item.selected');
		if(space)
		{
			setApps(space.get(0));
		}
	});
	
})();
</script>