<script type="text/template" id="AppEvents">
<div class="row app-event">
	<div class="col s4">
		{type_icon}
	</div>
	<div class="col s8">
		<p class="paragraph">{type}</p>
		<p class="paragraph">{actor} {timestamp}</p>
	</div>
</div>
</script>

<script>
(function()
{
	_ee.on('setAppEvents', function(target, app)
	{
		var today = new Date();
		today.setMonth(-1);
		var year = today.getFullYear();
		var month = today.getMonth() + 1;
		month = month < 10 ? '0' + month : month;
		var date = today.getDate();
		date = date < 10 ? '0' + date : date;
		
		var events = $('#AppEvents').html();
		
		CF.async({url : '/v2/events?order-direction=desc&q=actee:' + app.item.metadata.guid + '&q=timestamp>' + year + '-' + month + '-' + date, method : 'GET'}, function(eventsData)
		{
			if(eventsData)
			{
				var html = '';
				var eventList = eventsData.resources;
				if(eventList)
				{
					for(var i=0; i<eventList.length; i++)
					{
						var actor = eventList[i].entity.actor_name;
						var timestamp = eventList[i].entity.timestamp;
						var type = eventList[i].entity.type;
						
						var typeIcon = type;
						if(type.indexOf('crash') != -1)
							typeIcon = '<i class="material-icons">error</i>';
						else if(type.indexOf('restage') != -1)
							typeIcon = '<i class="material-icons">loop</i>';
						else if(type.indexOf('start') != -1)
							typeIcon = '<i class="material-icons">play_circle_filled</i>';
						else if(type.indexOf('create') != -1)
							typeIcon = '<i class="material-icons">input</i>';
						else
							typeIcon = '<i class="material-icons">system_update_alt</i>';
						
						html += events.replace(/{actor}/gi, actor).replace(/{timestamp}/gi, timestamp).replace(/{type}/gi, type).replace(/{type_icon}/gi, typeIcon);
					}
				}
				
				html += '<div class="row app-event center-align app-event-more"><span>More</span></div>';
				
				$(target).html(html);
				$(target).find('.app-event-more').on('click', function()
				{
					today.setMonth(today.getMonth()-1);
					var year2 = today.getFullYear();
					var month2 = today.getMonth() + 1;
					month2 = month2 < 10 ? '0' + month2 : month2;
					var date2 = today.getDate();
					date2 = date2 < 10 ? '0' + date2 : date2;
					
					var that = this;
					CF.async({url : '/v2/events?order-direction=desc&q=actee:' + app.item.metadata.guid + '&q=timestamp<' + year + '-' + month + '-' + date + '&q=timestamp>' + year2 + '-' + month2 + '-' + date2, method : 'GET'}, function(eventsData)
					{
						if(eventsData)
						{
							var html = '';
							var eventList = eventsData.resources;
							if(eventList)
							{
								for(var i=0; i<eventList.length; i++)
								{
									var actor = eventList[i].entity.actor_name;
									var timestamp = eventList[i].entity.timestamp;
									var type = eventList[i].entity.type;
									
									var typeIcon = type;
									if(type.indexOf('crash') != -1)
										typeIcon = '<i class="material-icons">error</i>';
									else if(type.indexOf('restage') != -1)
										typeIcon = '<i class="material-icons">loop</i>';
									else if(type.indexOf('start') != -1)
										typeIcon = '<i class="material-icons">play_circle_filled</i>';
									else if(type.indexOf('create') != -1)
										typeIcon = '<i class="material-icons">input</i>';
									else
										typeIcon = '<i class="material-icons">system_update_alt</i>';
									
									html += events.replace(/{actor}/gi, actor).replace(/{timestamp}/gi, timestamp).replace(/{type}/gi, type).replace(/{type_icon}/gi, typeIcon);
								}
							}
							
							$(html).insertBefore(that);
						}
					}, function(error){
						
					});
					
				});
			}
		}, common_error);
	});
})();
</script>