<script type="text/template" id="AppServices">
<table class="app-service-table">
	<colgroup>
		<col style="width: 10%;">
		<col style="width: 50%;">
		<col style="width: 40%;">
	</colgroup>
	<tbody></tbody>
</table>
</script>

<script type="text/template" id="AppServiceRow">
<tr class="app-service">
	<td rowspan="3" class="center-align">
		<img src="{img}">
	</td>
	<td>
		<p class="app-service-name">{name}</p>
	</td>
	<td rowspan="2" class="right-align">
		<a class="textlink" href="{manageUrl}" target="_blank"><span>Manage</span> <img src="@{imgs}/icon_arrow_rt.png"></a>
		<a class="textlink" href="{supportUrl}" target="_blank"><span>Support</span> <img src="@{imgs}/icon_arrow_rt.png"></a>
		<a class="textlink" href="{docsUrl}" target="_blank"><span>Docs</span> <img src="@{imgs}/icon_arrow_rt.png"></a>
	</td>
</tr>
<tr>
	<td>
		<p class="paragraph">{description}</p>
	</td>
</tr>
<tr>
	<td>
		<div class="credentials">
			<a class="app-service-credentials"><span>Show credentials</span> <img src="@{imgs}/icon_arrow_rt.png"></a>
			<div style="display:none;">
			</div>
		</div>
	</td>
	<td class="right-align">
		<div class="confirm-button"><span class="target-button">Unbind</span><span class="confirm">Unbind</span></div>
	</td>
</tr>
</script>

<script type="text/template" id="AppServiceBind">
<div class="margin-top-40">
	<select class="browser-default app-service-select" disabled required>
		<option value="" disalbed selected>Loading services</option>
	</select>
	<a class="waves-effect waves-light btn action-button bind-service">Bind</a>
	<a class="cancel-button cancel-service">Cancel</a>
</div>
<div class="app-service-add-from-marketplace">
	<a href="/marketplace">or add from Marketplace</a>
</div>
</script>

<script>
(function()
{
	var addServiceBinding = function(target, data)
	{
		var tr = $(target).find('tbody tr:first');
		if(tr.text().indexOf('No services') != -1)
			tr.remove();
		
		if(data.servicePlanGuid)
		{
			CF.async({url : '/v2/service_plans/' + data.servicePlanGuid}, function(result)
			{
				if(result)
				{
					var servicePlan = result;
					CF.async({url : servicePlan.entity.service_url}, function(result)
					{
						if(result)
						{
							var service = result;
							
							var extra = JSON.parse(service.entity.extra);
							var html = $('#AppServiceRow').html().replace('{img}', extra.imageUrl).replace('{name}', data.name).replace('{description}', extra.displayName).replace('{manageUrl}', data.manageUrl).replace('{supportUrl}', extra.supportUrl).replace('{docsUrl}', extra.documentationUrl);
							
							var lastTr = $(html);
							$(target).find('tbody').append(lastTr);
							
							lastTr = $(lastTr[lastTr.length-1]);
							
							confirmButton(lastTr.find('.confirm-button'), function()
							{
								CF.async({url : '/v2/service_bindings/' + data.guid, method : 'DELETE'}, function(result)
								{
									var prev = lastTr.prev();
									prev.prev().remove();
									prev.remove();
									lastTr.remove();
									
									$(target).find('.app-service-select').append('<option value="' + data.instanceGuid + '/' + data.servicePlanGuid + '">' + data.name + '</option>');
									
									if($(target).find('tbody tr').length == 0)
									{
										$(target).find('tbody').html('<tr><td colspan="3" class="center-align">No services bound to this app</td></tr>');
									}
								}, common_error);
							});
							
							try
							{
								var credentials = data.credentials;
								var html = '';
								for(var key in credentials)
								{
									html += '<p>' + key + '</p>';
									html += '<pre>' + credentials[key] + '</pre>';
								}
								
								html += '<p>JSON</p>';
								html += '<pre>' + JSON.stringify(credentials, null, 4) + '</pre>';
								
								$(target).find('tbody tr:last .credentials > div').prepend(html);
								
								$(target).find('tbody tr:last .credentials > a').on('click', function()
								{
									if($(this).next().is(':visible'))
									{
										$(this).next().hide();
										$(this).children('span').text('Show credentials');
									}
									else
									{
										$(this).next().show();
										$(this).children('span').text('Hide credentials');
									}
								});
							}
							catch(err)
							{
							}
						}
					});
				}
			});
		}
	};
	
	var getOptions = function(check, services)
	{
		var body = '';
		for(var i=0; i<services.length; i++)
		{
			if(check[services[i].metadata.guid])
				continue;
			
			body += '<option value="' + services[i].metadata.guid + '/' + services[i].entity.service_plan_guid + '">' + services[i].entity.name + '</option>';
		}
		
		return body;
	};
	
	//서비스 셀렉트와 바인드 버튼.
	var drawBindService = function(target, app)
	{
		CF.async({url : '/v2/spaces/' + app.item.space.metadata.guid + '/service_instances'}, function(services)
		{
			CF.async({url : '/v2/user_provided_service_instances'}, function(userProvidedService)
			{
				CF.async({url : '/v2/apps/' + app.item.metadata.guid + '/service_bindings'}, function(result)
				{
					var check = {};
					if(result)
					{
						result = result.resources;
						for(var i=0; i<result.length; i++)
						{
							check[result[i].entity.service_instance_guid] = true;
						}
					}
					
					var body = '';
					if(services)
						body += getOptions(check, services.resources);
					
					if(userProvidedService)
						body += getOptions(check, userProvidedService.resources);
					
					$(target).find('.app-service-select').append(body).removeAttr('disabled').children('option:first').text('Select a service');
					
					$(target).find('.bind-service').on('click', function()
					{
						if(requiredValidation($(target)))
						{
							var serviceInstanceGuid = $(target).find('.app-service-select').val();
							var serviceInstanceName = $(target).find('.app-service-select option:selected').text();
							serviceInstanceGuid = serviceInstanceGuid.split('/');
							var servicePlanGuid = serviceInstanceGuid[1];
							serviceInstanceGuid = serviceInstanceGuid[0];
							
							var data = {};
							data.service_instance_guid = serviceInstanceGuid;
							data.app_guid = app.item.metadata.guid;
							
							CF.async({url : '/v2/service_bindings', method : 'POST', headers : {'Content-Type' : 'application/x-www-form-urlencoded'}, form : data}, function(result)
							{
								if(result)
								{
									if(result.entity)
									{
										var serviceInstanceGuid = $(target).find('.app-service-select option:selected').val();
										serviceInstanceGuid = serviceInstanceGuid.split('/');
										servicePlanGuid = serviceInstanceGuid[1];
										serviceInstanceGuid = serviceInstanceGuid[0];
										
										$(target).find('.app-service-select option:selected').remove();
										$(target).find('.app-service-select').val('');
										addServiceBinding(target, {instanceGuid : serviceInstanceGuid, servicePlanGuid : servicePlanGuid, guid : result.metadata.guid, name : serviceInstanceName, manageUrl : result.entity.manageUrl, credentials : result.entity.credentials});
										return;
									}
								}
								
								common_error(result);
							}, common_error);
						}
					});
					
					$(target).find('.cancel-service').on('click', function()
					{
						$(target).find('.app-service-select').val('');
					});
				}, common_error);
			}, common_error);
		}, common_error);
	};
	
	_ee.on('setAppServices', function(target, app)
	{
		var loading = $(target).find('.loading');
		var table = $('#AppServices').html();
		var bindServiceHtml = $('#AppServiceBind').html();
		$(target).html(table + bindServiceHtml).append(loading);
		
		drawBindService(target, app);
		
		CF.async({url : app.item.entity.service_bindings_url}, function(servicesData)
		{
			var body = '';
			
			if(servicesData)
			{
				var serviceList = servicesData.resources;
				for(var i=0; i<serviceList.length; i++)
				{
					(function(service)
					{
						var credentials = service.entity.credentials;
						CF.async({url : service.entity.service_instance_url, method : 'GET'}, function(result)
						{
							if(result)
							{
								var serviceInstance = result;
								
								var manageUrl = serviceInstance.entity.dashboard_url;
								var name = serviceInstance.entity.name;
								
								addServiceBinding(target, {instanceGuid : service.metadata.guid, servicePlanGuid : serviceInstance.entity.service_plan_guid, guid : service.metadata.guid, name : name, manageUrl : manageUrl, credentials : credentials});
							}
						}, function(error)
						{
							$(target).find('tbody').append('<tr><td colspan="3" class="center-align">' + error + '</td></tr>')
						});
					})(serviceList[i]);
				}
				
				if(serviceList.length == 0)
					body = '<tr><td colspan="3" class="center-align">No services bound to this app</td></tr>';
			}
			else
			{
				body = '<tr><td colspan="3" class="center-align">No services bound to this app</td></tr>';
			}
			
			$(target).find('tbody').html(body);
			
			$(target).find('.loading').remove();
			
		}, common_error);
	});
})();
</script>