<script>
(function()
{
	var orgQuotaInterval = null;
	var appsQuotaInterval = null;
	
	_ee.on('select_org', function(element)
	{
		$(element).addClass('selected');
		
		var organization = element.item;
		if(_global.url[1] != organization.metadata.guid)
		{
			window.history.replaceState({}, null, '/organization/' + organization.metadata.guid);
			_global.url[1] = organization.metadata.guid;
		}
		
		$('#orgName').text(organization.entity.name).get(0).item = organization;
		_ee.emit('setOrganization_done', organization);
		
		var f = function()
		{
			CF.async({url : organization.entity.quota_definition_url, method : 'GET'}, function(orgQuota)
			{
				if(orgQuota)
				{
					if($('#orgQuota').text() != (orgQuota.entity.memory_limit / 1024))
					{
						$('#orgQuota').text(orgQuota.entity.memory_limit / 1024);
						_ee.emit('set_quota_done');	
					}
				}
				
			}, common_error);	
		};
		
		if(orgQuotaInterval)
		{
			clearInterval(orgQuotaInterval);
			orgQuotaInterval = null;
		}
		
		f();
		orgQuotaInterval = setInterval(f, 5000);
	});
	
	_ee.on('space_selected', function(space)
	{
		$('#appsQuota').text('');
		$('#orgQuotaProgressBar').css('width', '0%');
		
		var f = function(space)
		{
			CF.async({url : space.item.entity.apps_url, method : 'GET'}, function(result)
			{
				var apps = result.resources;
				if(apps)
				{
					var appsQuota = 0;
					
					for(var i=0; i<apps.length; i++)
					{
						if(apps[i].entity.state == 'STARTED')
						{
							appsQuota += apps[i].entity.memory;
						}
					}
					
					if($('#appsQuota').text() != (appsQuota / 1024))
					{
						$('#appsQuota').text(appsQuota / 1024).show().next().show();
						_ee.emit('set_quota_done');
					}
				}
			}, common_error);
		};
		
		if($('#appsQuota').get(0).appsQuotaInterval)
		{
			clearInterval($('#appsQuota').get(0).appsQuotaInterval);
			$('#appsQuota').get(0).appsQuotaInterval = null;
		}
		
		f(space);
		$('#appsQuota').get(0).appsQuotaInterval = setInterval(function(){
			f(space);
		}, 5000);
	});
	
	_ee.on('set_quota_done', function()
	{
		var orgQuota = new Number($("#orgQuota").text());
		var appsQuota = new Number($("#appsQuota").text());
		
		if(!isNaN(orgQuota) && !isNaN(appsQuota))
		{
			$('#orgQuotaProgressBar').css('width', (appsQuota / orgQuota) * 100 + '%');
		}
	});
})();
</script>