<script type="text/template" id="OrgItem">
<ul class="card collection with-header">
<li class="collection-header">
	<h4 data-guid="{guid}">
		<a href="#">{name}</a>
	</h4>
</li>
<li class="collection-item create-space">
	<a><img src="@{imgs}/icon_create2.png"> Create space</a>
	<div style="display: none;">
		<div class="text-input">
			<input type="text" placeholder="Space name" required>
		</div>
		<a class="waves-effect waves-light btn create-space-button">Create</a>
		<a class="cancel-space-button">Cancel</a>
	</div>
</li>
</ul>
</script>

<script>
var setOrgList = function()
{
	CF.async({url : '/v2/organizations', method : 'get'}, function(result)
	{
		if(result)
		{
			var orgList = result.resources;
			if(orgList)
			{
				if(orgList.length == 0)
				{
					CF.async({url : '/v2/quota_definitions'}, function(result)
					{
						if(result)
						{
							var quota_guid = null;
							var quotaList = result.resources;
							for(var i=0; i<quotaList.length; i++)
							{
								if(quotaList[i].entity.name == 'personal')
								{
									quota_guid = quotaList[i].metadata.guid;
									break;
								}
							}
							
							CF.users('createFirstOrg', {quota_definition_guid : quota_guid, username : $('#username').attr('data-username')}, function(result)
							{
								if(result)
								{
									if(result)
									{
										result = JSON.parse(result);
										if(result.entity)
										{
											setOrgList();
										}
										else
 										{
 											common_error(result.description);
 										}
									}
								}
								else
								{
									common_error();
								}
							});
						}
					});
				}
				else
				{
					for(var i=0; i<orgList.length; i++)
					{
						var html = $('#OrgItem').html();
						html = html.replace('{guid}', orgList[i].metadata.guid).replace('{name}', orgList[i].entity.name);
						
						var ul = $(html);
						ul.attr('id', orgList[i].metadata.guid);
						$('#orgList').append(ul);
						
						var element = ul.get(0);
						element.item = orgList[i];
						
						_ee.emit('setOrg_done', element);
					}
					
					_ee.emit('setOrgList_done', orgList);
					
					$('.collection-header').on('click', function()
					{
						$('#orgList .collection.selected').removeClass('selected');
						$(this).parent().addClass('selected');
						
						_ee.emit('select_org', $(this).parent().get(0));
						_ee.emit('select_org_by_click', $(this).parent().get(0));
					});
					
					$('#orgList .create-space > a').on('click', function()
					{
						$(this).hide();
						var input = $(this).next().show().end().next().find('input');
						input.val('');
						input.focus();
					});
					
					$('.create-space-button').on('click', function()
					{
						var target = $(this).parent().parent();
						var organization = $(this).parent().parent().parent().get(0).item;
						
						var input = $(this).prev().children('input');
						var name = input.val();
						
						if(requiredValidation($(this).prev()))
						{
							CF.async({url : '/v2/spaces', method : 'POST', form : {organization_guid : organization.metadata.guid, name : name}}, function(result)
							{
								if(result)
								{
									if(result.entity)
									{
										result.organization = organization;
										_ee.emit('space_created', result, function(li)
										{
											$(li).insertBefore(target);
											
											input.val();
											input.parent().parent().hide().prev().show();
										});
									}
									else
									{
										common_error(result.description);
									}
								}
							});
						}
					});
					
					$('.cancel-space-button').on('click', function()
					{
						$(this).parent().hide().prev().show();
					});
				}
			}
			else
			{
				$('#orgList').append('<span class="center-align">Emtpy Organizations</span>');
			}
		}
		else
		{
			//에러처리
			$('#orgList').append('<span class="center-align">Emtpy Organizations</span>');
		}
	}, common_error);
};
$(document).ready(setOrgList);
</script>