<script>
(function()
{
	var createSpace = function(space)
	{
		var li = document.createElement('li');
		li.className = 'collection-item';
		li.innerText = space.entity.name;
		li.item = space;
		$(li).attr('id', space.metadata.guid);
		
		$(li).on('click', function()
		{
			location.href = '/organization/' + this.item.organization.metadata.guid + '/space/' + this.item.metadata.guid + '/apps'; 
		});
		
		return li;
	};
	
	_ee.on('space_created', function(space, callback)
	{
		callback(createSpace(space));	
	});
	
	_ee.on('setOrg_done', function(element)
	{
		var url = _global.url;
		
		var item = element.item;
		CF.async({url : item.entity.spaces_url, method : 'get'}, function(result)
		{
			if(result)
			{
				var selected = false;
				var spaceList = result.resources;
				for(var j=0; j<spaceList.length; j++)
				{
					spaceList[j].organization = item;
					var li = createSpace(spaceList[j]);
					
					$(li).insertBefore($(element).children('li:last'));
					
					if(item.metadata.guid == url[1])
					{
						if(url[2] == 'space')
						{
							if(url[3] == li.item.metadata.guid)
							{
								//스페이스 guid까지 있는경우
								_ee.emit('select_space', li);
								selected = true;
							}
						}
						else if(!url[2] && j == 0)
						{
							//org다음에 아무것도 없는경우 space 첫번째꺼 셀렉트
							_ee.emit('select_space', li);
							selected = true;
						}
					}
				}
				
				if(!selected && item.metadata.guid == url[1])
				{
					_ee.emit('select_space', $(element).find('.collection-item:first').get(0));
				}
				
				_ee.emit('setSpaceList_done', spaceList);
				
				$("#orgLoading").hide();
				$(".body-container").show();
			}
			else
			{
				$('<li>Empty Spaces</li>').insertBefore(element);
			}
			
		}, common_error);
	});
})();
</script>