<table class="status-table">
	<colgroup>
		<col style="width: 16.666%;">
		<col style="width: 16.666%;">
		<col style="width: 16.666%;">
		<col style="width: 16.666%;">
		<col style="width: 16.666%;">
		<col style="width: 16.666%;">
	</colgroup>
	<thead>
		<tr>
			<th>#</th>
			<th>STATUS</th>
			<th>CPU</th>
			<th>MEMORY</th>
			<th>DISK</th>
			<th>UPTIME</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="6" style="text-align: center; position: relative; height: 250px;">
				<div class="background-progress appInstanceProgress" style="display: block; position: absolute;">
					<div class="vertical-bar"></div>
					<div class="progress-content">
						<span class="glyphicon glyphicon-refresh"></span>
						<p class="progress-message">Instances loading...</p>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<div class="alert alert-warning statusMessage" style="display: none;"></div>